USE [master]
GO
/****** Object:  Database [QLBANSACH]    Script Date: 26/12/2016 13:10:28 ******/
CREATE DATABASE [QLBANSACH] ON  PRIMARY 
( NAME = N'QLBANSACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS1\MSSQL\DATA\QLBANSACH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBANSACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS1\MSSQL\DATA\QLBANSACH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBANSACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBANSACH]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_DH]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_DH]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(IDDH) FROM DONHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(IDDH, 3)) FROM DONHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'DH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'DH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MS]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_MS]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MASACH) FROM SACH) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MASACH, 3)) FROM SACH
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'S00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'S0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[CHUNGLOAI]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUNGLOAI](
	[MACHUNGLOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUNGLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUNGLOAI] PRIMARY KEY CLUSTERED 
(
	[MACHUNGLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[IDDH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NULL,
	[NGAYLAPHD] [date] NULL,
	[TONGTIEN] [varchar](50) NOT NULL,
 CONSTRAINT [PK__DONHANG__B87DB898ABB5E1BD] PRIMARY KEY CLUSTERED 
(
	[IDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONHANGCHITIET]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANGCHITIET](
	[ID_CTDH] [int] IDENTITY(1,1) NOT NULL,
	[IDDH] [int] NOT NULL,
	[MASACH] [nchar](5) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[SL] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[THANHTIEN] [int] NOT NULL,
 CONSTRAINT [PK_DONHANGCHITIET] PRIMARY KEY CLUSTERED 
(
	[ID_CTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[MACHUNGLOAI] [int] NOT NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NXB]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[GIOITHIEU] [nvarchar](200) NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](5) NOT NULL CONSTRAINT [IDKH]  DEFAULT ([DBO].[AUTO_MS]()),
	[TENSACH] [nvarchar](100) NOT NULL,
	[DONGIA] [int] NOT NULL,
	[MACHUNGLOAI] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[TACGIA] [nvarchar](50) NOT NULL,
	[MANXB] [int] NOT NULL,
	[MOTA] [nvarchar](250) NULL,
	[SL] [int] NOT NULL,
 CONSTRAINT [PK__SACH__3FC48E4CEC8888C6] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHUNGLOAI] ON 

INSERT [dbo].[CHUNGLOAI] ([MACHUNGLOAI], [TENCHUNGLOAI]) VALUES (1, N'SÁCH TIẾNG VIỆT')
INSERT [dbo].[CHUNGLOAI] ([MACHUNGLOAI], [TENCHUNGLOAI]) VALUES (2, N'SÁCH TIẾNG ANH')
INSERT [dbo].[CHUNGLOAI] ([MACHUNGLOAI], [TENCHUNGLOAI]) VALUES (3, N'EBOOK')
SET IDENTITY_INSERT [dbo].[CHUNGLOAI] OFF
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([IDDH], [HOTEN], [SDT], [NGAYLAPHD], [TONGTIEN]) VALUES (24, N'HAI', N'01684634841', CAST(N'2016-12-25' AS Date), N'18000')
INSERT [dbo].[DONHANG] ([IDDH], [HOTEN], [SDT], [NGAYLAPHD], [TONGTIEN]) VALUES (25, N'HAI', N'01684634841', CAST(N'2016-12-25' AS Date), N'18000')
INSERT [dbo].[DONHANG] ([IDDH], [HOTEN], [SDT], [NGAYLAPHD], [TONGTIEN]) VALUES (26, N'HAI', N'123', CAST(N'2016-12-25' AS Date), N'22000')
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
SET IDENTITY_INSERT [dbo].[DONHANGCHITIET] ON 

INSERT [dbo].[DONHANGCHITIET] ([ID_CTDH], [IDDH], [MASACH], [TENSACH], [SL], [DONGIA], [THANHTIEN]) VALUES (22, 24, N'S008 ', N'sach moi hon', 4, 2000, 8000)
INSERT [dbo].[DONHANGCHITIET] ([ID_CTDH], [IDDH], [MASACH], [TENSACH], [SL], [DONGIA], [THANHTIEN]) VALUES (23, 25, N'S008 ', N'sach moi hon', 4, 2000, 8000)
INSERT [dbo].[DONHANGCHITIET] ([ID_CTDH], [IDDH], [MASACH], [TENSACH], [SL], [DONGIA], [THANHTIEN]) VALUES (24, 28, N'S008 ', N'sach moi hon', 6, 2000, 12000)
SET IDENTITY_INSERT [dbo].[DONHANGCHITIET] OFF
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI], [MACHUNGLOAI]) VALUES (1, N'Sách Văn Học- Tiểu Thuyết', 1)
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI], [MACHUNGLOAI]) VALUES (2, N'Sách Thiếu Nhi', 1)
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI], [MACHUNGLOAI]) VALUES (3, N'Sách Kinh Tế', 1)
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
SET IDENTITY_INSERT [dbo].[NXB] ON 

INSERT [dbo].[NXB] ([MANXB], [TENNXB], [DIACHI], [GIOITHIEU]) VALUES (1, N'NXB Trẻ', N'Hồ Chí Minh', NULL)
INSERT [dbo].[NXB] ([MANXB], [TENNXB], [DIACHI], [GIOITHIEU]) VALUES (2, N'Nhã Nam', N'59 Đỗ Quang, KĐT Trung Hòa Nhân Chính, Cầu Giấy, Hà Nội', N'Bởi vì sách là thế giới')
INSERT [dbo].[NXB] ([MANXB], [TENNXB], [DIACHI], [GIOITHIEU]) VALUES (3, N'NXB Kim Đồng', N' 55 Quang Trung, Hà Nội', N'aa')
SET IDENTITY_INSERT [dbo].[NXB] OFF
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [DONGIA], [MACHUNGLOAI], [MALOAI], [TACGIA], [MANXB], [MOTA], [SL]) VALUES (N'S001 ', N'Nhà Giả Kim', 47000, 1, 1, N'Paulo Coelho', 1, N'Tiểu thuyết Nhà giả kim của Paulo Coelho như một câu chuyện cổ tích giản dị, nhân ái, giàu chất thơ, thấm đẫm những minh triết huyền bí của phương Đông. Trong lần xuất bản đầu tiên tại Brazil vào năm 1988, sách chỉ bán được 900 bản. Nhưng, với số phậ', 2)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [DONGIA], [MACHUNGLOAI], [MALOAI], [TACGIA], [MANXB], [MOTA], [SL]) VALUES (N'S002 ', N'Chuyện Con Mèo Dạy Hải Âu Bay ', 28000, 2, 1, N'Luis Sepulveda', 2, N'Có tồn tại không tình thương yêu giữa mèo và hải âu?', 2)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [DONGIA], [MACHUNGLOAI], [MALOAI], [TACGIA], [MANXB], [MOTA], [SL]) VALUES (N'S003 ', N'Tôi Thấy Hoa Vàng Trên Cỏ Xanh', 45000, 1, 1, N'Nguyễn Nhật Ánh', 2, N'', 277)
ALTER TABLE [dbo].[DONHANGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_DONHANGCHITIET_DONHANG] FOREIGN KEY([IDDH])
REFERENCES [dbo].[DONHANG] ([IDDH])
GO
ALTER TABLE [dbo].[DONHANGCHITIET] CHECK CONSTRAINT [FK_DONHANGCHITIET_DONHANG]
GO
ALTER TABLE [dbo].[LOAISACH]  WITH CHECK ADD  CONSTRAINT [FK_LOAISACH_CHUNGLOAI] FOREIGN KEY([MACHUNGLOAI])
REFERENCES [dbo].[CHUNGLOAI] ([MACHUNGLOAI])
GO
ALTER TABLE [dbo].[LOAISACH] CHECK CONSTRAINT [FK_LOAISACH_CHUNGLOAI]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_CHUNGLOAI] FOREIGN KEY([MACHUNGLOAI])
REFERENCES [dbo].[CHUNGLOAI] ([MACHUNGLOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_CHUNGLOAI]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISACH] ([MALOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NXB] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NXB]
GO
/****** Object:  StoredProcedure [dbo].[udsSuaSach]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[udsSuaSach]
	@masach char(5),
    @tensach nvarchar(100),
    @dongia int,
    @machungloai int,
    @maloai int,
	@tacgia nvarchar(50),
	@nxb int,
	@mota nvarchar(255),
	@sl int
as
begin
    SELECT * FROM DBO.SACH
	UPDATE DBO.SACH SET TENSACH=@tensach ,DONGIA=@dongia ,MACHUNGLOAI=@machungloai ,MALOAI=@maloai ,TACGIA=@tacgia ,MANXB=@nxb ,MOTA=@mota ,SL=@sl
	WHERE MASACH=@masach
end
GO
/****** Object:  StoredProcedure [dbo].[uspSuaSach]    Script Date: 26/12/2016 13:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[uspSuaSach] (
	@masach char(5),
    @tensach nvarchar(100),
    @dongia int,
    @machungloai int,
    @maloai int,
	@tacgia nvarchar(50),
	@nxb int,
	@mota nvarchar(255),
	@sl int )
as
begin
    SELECT * FROM DBO.SACH
	UPDATE DBO.SACH SET TENSACH=@tensach ,DONGIA=@dongia ,MACHUNGLOAI=@machungloai ,MALOAI=@maloai ,TACGIA=@tacgia ,MANXB=@nxb ,MOTA=@mota ,SL=@sl
	WHERE MASACH=@masach;
end
GO
USE [master]
GO
