<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnStr" connectionString="Server =ARES-PC\SQLEXPRESS1 ; Database = QLBANSACH ; Integrated security = true; " />
    <add name="QLNHASACH.Properties.Settings.QLBANSACHConnectionString"
      connectionString="Data Source=ARES-PC\SQLEXPRESS1;Initial Catalog=QLBANSACH;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>